[defaults]
inventory_plugins = script, yaml
inventory = ./inventory/production/inventory.yml
host_key_checking = False
deprecation_warnings = False
log_path=./log/ansible.log
log_file=./log/ansible.log
log_level=INFO
roles_path = ./roles:./roles/common
module_timeout = 30
fact_caching = none
strategy = linear
connection = ssh
stdout_callback = json
command_warnings = False
playbook_path = ./playbooks/production/
ansible_playbook_exe = ansible-playbook

[ssh_connection]
pipelining = True
retries=10
